<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tienda Virtual</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <%- include('../partials/header') %>
    <div class="container">

    </div>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Tienda Online !</h1>
            <p class="lead">Productos en stock.</p>
            <hr class="my-4">
            <p></p>
            <a class="btn btn-primary btn-lg" href="/tiendavirtual/producto/home?tipo=All" role="button">Home</a>
        </div>

        <div>
            <a href="/tiendavirtual/producto/create">
                <button class="btn btn-info"> Crear </button>
            </a>
        </div>
        <br>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Codigo</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <% productos.forEach((producto)=>{ %>
            <tr>
                <td> <%=producto.idProducto%> </td>
                <td> <%=producto.nombreProducto%> </td>
                <td> <%=producto.descripcion%> </td>
                <td> <%=producto.codigoProducto%> </td>
                <td> <%=producto.PVP%> </td>
                <td>
                    <img src="<%=producto.imagenProducto%>" alt="" width="300px" height="300px">
                </td>
                <td>
                    <a href="delete/<%=producto.idProducto%>">
                        <button class="btn btn-danger">Borrar</button>
                    </a>
                    <a href="update/<%=producto.idProducto%>">
                        <button class="btn btn-warning">Editar</button>
                    </a>
                    <a href="ver/<%=producto.idProducto%>">
                        <button class="btn btn-light">Ver</button>
                    </a>
                </td>
            </tr>
            <% })%>
        </table>
    </div>


</body>

</html>